.Topbar {
  display: flex;
  flex-direction: row;
  margin-right: 10px;
  justify-content: space-between;
  background-color: azure;
  height: 100px;
}

.Secondbar {
  display: flex;
  flex-direction: row;
  margin-right: 10px;
  justify-content: space-between;
  background-color: rgb(162, 234, 162);
  height: 100px;
}
